.about {
    margin-bottom: 140px;
}

.about__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.about__item {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.about__item-name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.about__item-name_title {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: #242424;
}

.about__item-name_line {
    width: 144px;
    height: 2px;
    background: #242424;
}

.about__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__desc-store {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
}

.about__desc-by {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #6C6C6C;
}
.about__banner{
    max-width: 1704px;
    width: 100%;
}
@media screen and (max-width:380px) {

    .about__item-name{
        flex-direction: column;
        align-items: flex-start;
    }
}