.shop {
    margin: 140px 0 140px;
}

.shop__wrap {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.shop__parth {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.shop__name {
    display: flex;
    align-items: center;
    gap: 20px;
}

.shop__name-title {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    text-transform: uppercase;
    color: #242424;
}

.shop__name-line {
    width: 144px;
    height: 2px;
    background: #242424;
}

.shop__desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop__desc-1 {
    font-family: "Share Tech Mono", sans-serif;
    max-width: 696px;
    width: 100%;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    color: #242424;
}

.shop__desc-2 {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #6C6C6C;
}

.shop__carts {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 400px;
}

.shop__carts-sakura {
    max-width: 840px;
    width: 100%;
    grid-column: 1 / 2;
    background: url(../img/sakura.png) no-repeat center / cover;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .shop__carts-fuji{
     max-width: 840px;
    width: 100%;
    grid-column: 2/2;
    grid-row: 1/3;
    background: url(../img/fuji.png) no-repeat  center bottom / cover;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

 .shop__carts-tokyo{
     max-width: 840px;
    width: 100%;
    grid-column: 1/2;
    background: url(../img/tokyo.png) no-repeat bottom / cover;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shop__carts-sakura_sale {
    max-width: 120px;
    width: 100%;
    background: #242424;
    text-align: center;
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    padding: 16px;
    color: #F9F8F4;

}

.shop__carts-sakura_name {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.shop__carts-sakura_name-title {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
}

.shop__carts-sakura_name-desc {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sakura__name-desc {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
}

.shop__carts-sakura_price {
    font-family: "Share Tech Mono", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    text-transform: uppercase;
    color: #F9F8F4;
    padding-top: 20px;
}
@media screen and (max-width:1400px) {

    .shop__carts-fuji{
    grid-column: 1/2;
    grid-row: 3/5;
     background: url(../img/fuji.png) no-repeat   center bottom / cover;

    }
    .shop__carts{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:560px) {

    .shop__carts-fuji{
    grid-column: 1/2;
    grid-row: 3/4;
     background: url(../img/fuji.png) no-repeat   center bottom / cover;

    }
}


@media screen and (max-width:440px) {
    .shop__name{
        flex-direction: column;
        align-items: flex-start;
    }
}